In [13]:
import pandas as pd
doc=pd.read_csv('data_sf.csv', sep=',')
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(doc.describe())

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,44.264403,40.321625,50.115143,55.463596,63.109715,63.205629,61.819648,59.430565,63.171978,52.530666,64.285415,61.123052,64.271614,43.971931,53.777933,44.875940,47.166008,50.843374,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,17.781283,16.718481,15.215160,16.692643,15.129988,14.903845,14.858729,8.875832,14.190700,16.975214,11.765467,16.194498,12.550696,18.769749,17.232716,20.188799,19.245882,13.745960,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,6.000000,3.000000,9.000000,5.000000,12.000000,12.000000,15.000000,21.000000,16.000000,2.000000,15.000000,12.000000,17.000000,3.000000,11.000000,3.000000,2.000000,10.000000,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,32.000000,29.000000,40.000000,51.000000,55.000000,55.000000,53.000000,54.000000,55.000000,42.000000,57.000000,54.000000,57.000000,29.000000,41.000000,24.000000,35.000000,42.000000,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,45.000000,39.000000,53.000000,60.000000,66.000000,66.000000,64.000000,59.000000,65.000000,56.000000,65.000000,64.000000,65.000000,47.000000,56.000000,51.000000,52.000000,52.000000,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,58.000000,52.000000,61.000000,65.000000,74.000000,73.000000,72.000000,65.000000,73.000000,65.000000,72.000000,72.000000,73.000000,59.000000,67.000000,62.000000,61.000000,60.000000,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,93.000000,94.000000,93.000000,96.000000,97.000000,96.000000,96.000000,96.000000,96.000000,95.000000,95.000000,96.000000,97.000000,94.000000,95.000000,92.000000,95.000000,94.000000,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [29]:
import pandas as pd
doc=pd.read_csv('data_sf.csv')
doc.Age.mean()
doc.ShortPassing.std()

14.740435689517149

In [27]:
import pandas as pd
doc=pd.read_csv('data_sf.csv')
doc[doc.Position=='GK'].count()

Unnamed: 0         1641
Name               1641
Age                1641
Nationality        1641
Club               1641
Value              1641
Wage               1641
Position           1641
Crossing           1641
Finishing          1641
HeadingAccuracy    1641
ShortPassing       1641
Volleys            1641
Dribbling          1641
Curve              1641
FKAccuracy         1641
LongPassing        1641
BallControl        1641
Acceleration       1641
SprintSpeed        1641
Agility            1641
Reactions          1641
Balance            1641
ShotPower          1641
Jumping            1641
Stamina            1641
Strength           1641
LongShots          1641
Aggression         1641
Interceptions      1641
Positioning        1641
Vision             1641
Penalties          1641
Composure          1641
Marking            1641
StandingTackle     1641
SlidingTackle      1641
GKDiving           1641
GKHandling         1641
GKKicking          1641
GKPositioning      1641
GKReflexes         1641
dtype: int64

In [41]:
import pandas as pd
doc=pd.read_csv('data_sf.csv', sep=',')
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display

In [25]:
df = pd.DataFrame([[i,i+1.2,i+2, 'hi'] for i in range(10)],
                  columns = ['foo', 'bar', 'baz', 'foobar'])
print(df.baz)

0     2
1     3
2     4
3     5
4     6
5     7
6     8
7     9
8    10
9    11
Name: baz, dtype: int64

In [20]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
players[players.HeadingAccuracy>50].Age.mean()

25.58771113179944

In [21]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
players[((players.Composure.max())&(players.Reactions.max()))<].Age.min()

SyntaxError: invalid syntax (<ipython-input-21-b27c63569f13>, line 3)

In [43]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
players[players.Wage==565000].Position

0    RF
Name: Position, dtype: object

In [29]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
players[(players.Value>players.Value.mean())&(players.max())].Nationality

C:\Users\User\anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Series([], Name: Nationality, dtype: object)

In [23]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

In [2]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
f=players.head(5)
print(f)

   Unnamed: 0               Name  Age Nationality                 Club  \
0           0           L. Messi   31   Argentina         FC Barcelona
1           1  Cristiano Ronaldo   33    Portugal             Juventus
2           2          Neymar Jr   26      Brazil  Paris Saint-Germain
3           3             De Gea   27       Spain    Manchester United
4           4       K. De Bruyne   27     Belgium      Manchester City

       Value    Wage Position  Crossing  Finishing  ...  Penalties  Composure  \
0  110500000  565000       RF        84         95  ...         75         96
1   77000000  405000       ST        84         94  ...         85         95
2  118500000  290000       LW        79         87  ...         81         94
3   72000000  260000       GK        17         13  ...         40         68
4  102000000  355000      RCM        93         82  ...         79         88

   Marking  StandingTackle  SlidingTackle  GKDiving  GKHandling  GKKicking  \
0       33              28             26         6          11         15
1       28              31             23         7          11         15
2       27              24             33         9           9         15
3       15              21             13        90          85         87
4       68              58             51        15          13          5

   GKPositioning  GKReflexes
0             14           8
1             14          11
2             15          11
3             88          94
4             10          13

[5 rows x 42 columns]

In [55]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
react_old=players[players.Age.max()==players.Age].Reactions.mean()
react_young=players[players.Age.min()==players.Age].Reactions.mean()
diff=react_old-react_young
diff

22.642857142857146

In [73]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
plr=players[players.Value>players.Value.mean()]
plr.describe(include=['object'])

                Name Nationality       Club Position
count           1747        1747       1747     1747
unique          1558          98        447       27
top     J. Rodríguez       Spain  Liverpool       ST
freq               9         211         17      214

In [65]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
g1=players[(players.Position=='GK')&(players.GKReflexes==players.GKReflexes.max())].Wage.mean()
g2=players[players.GKHandling==players.GKHandling.max()].Wage.mean()
g1/g2

2.765957446808511

In [67]:
import pandas as panda
players=pd.read_csv('data_sf.csv')
agr_max=players[players.Aggression==players.Aggression.max()].ShotPower.mean()
agr_min=players[players.Aggression==players.Aggression.min()].ShotPower.mean()
agr_max/agr_min

2.076923076923077

In [68]:
import pandas as panda
players=pd.read_csv('data_sf.csv')
number=players[players.Value>players.Value.mean()].Position.count()
country=players[Position.count()==number]

1747

In [69]:
import pandas as panda
players=pd.read_csv('data_sf.csv')
players[(players.Composure>players.Composure.max()*0.9)&(players.Reactions>players.Reactions.max()*0.9)].Age.min()

24

In [47]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
s=players['Wage'].value_counts(bins=4)
s

(435.999, 142000.0]     12818
(142000.0, 283000.0]       61
(283000.0, 424000.0]       16
(424000.0, 565000.0]        2
Name: Wage, dtype: int64

In [57]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
small_pl = players[players.columns[0:7]].head(25)

s = small_pl['Wage'].value_counts(bins=4)

small_pl.loc[(small_pl['Wage'] > s.index[3].left) & (small_pl['Wage'] <= s.index[3].right)]

   Unnamed: 0       Name  Age Nationality          Club      Value    Wage
0           0   L. Messi   31   Argentina  FC Barcelona  110500000  565000
7           7  L. Suárez   31     Uruguay  FC Barcelona   80000000  455000

In [62]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
s=players['FKAccuracy'].value_counts(bins=4,normalize=True)
s

(25.75, 48.5]     0.521439
(48.5, 71.25]     0.262697
(2.908, 25.75]    0.180507
(71.25, 94.0]     0.035357
Name: FKAccuracy, dtype: float64

In [72]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
s=players['Nationality'].unique()
len(s)

156

In [78]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
s=players['Nationality'].value_counts()
df=s.reset_index()
df.columns = ['Nationality','Players Count']
df

     Nationality  Players Count
0        England           1368
1        Germany            919
2          Spain            671
3         France            614
4      Argentina            574
..           ...            ...
151      Andorra              1
152    Palestine              1
153  Puerto Rico              1
154       Belize              1
155     St Lucia              1

[156 rows x 2 columns]

In [121]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
spain=players[players.Nationality=='Spain']
salary=spain['Wage'].value_counts(bins=4,normalize=True)
salary

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [123]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
club=players[players.Club=='Manchester United']
country=club['Nationality'].nunique()
country

13

In [124]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
men=players[(players.Nationality=='Brazil')&(players.Club=='Juventus')]
men

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
64,64,Alex Sandro,27,Brazil,Juventus,36500000,160000,LB,84,55,...,60,82,81,84,84,7,7,9,12,5
65,65,Douglas Costa,27,Brazil,Juventus,46500000,175000,LM,84,67,...,77,84,45,38,34,13,15,9,12,5

In [141]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
clubs=players[(players.Club=='Nagoya Grampus')|(players.Club=='Club Atlético Huracán')|(players.Club=='LA Galaxy')]
age=clubs[clubs.Age>35]
c=age['Club'].value_counts()
c

Club Atlético Huracán    4
Nagoya Grampus           3
LA Galaxy                2
Name: Club, dtype: int64

In [143]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
arg=players[players.Nationality=='Argentina']
age=arg['Age'].value_counts(bins=4)
age

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [151]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
spain=players[(players.Nationality=='Spain')]
age=spain['Age'].value_counts(normalize=True)
age

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

In [169]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
salary=players.groupby(['Club']).sum()
salary.loc['Örebro SK']

Unnamed: 0          224465
Age                    622
Value              8465000
Wage                 36000
Crossing              1114
Finishing              974
HeadingAccuracy       1149
ShortPassing          1311
Volleys                965
Dribbling             1270
Curve                 1147
FKAccuracy             910
LongPassing           1146
BallControl           1318
Acceleration          1699
SprintSpeed           1638
Agility               1639
Reactions             1429
Balance               1674
ShotPower             1165
Jumping               1715
Stamina               1650
Strength              1604
LongShots             1003
Aggression            1352
Interceptions         1031
Positioning           1048
Vision                1227
Penalties             1066
Composure             1393
Marking               1112
StandingTackle        1045
SlidingTackle         1008
GKDiving               412
GKHandling             406
GKKicking              386
GKPositioning          428
GKReflexes             407
Name: Örebro SK, dtype: int64

In [162]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
salary=players.groupby(['Club'])['Wage'].sum().sort_values(ascending=False)
salary

Club
Real Madrid          4138000
FC Barcelona         3967000
Manchester City      3097000
Manchester United    2357000
Juventus             2335000
                      ...
AEK Athens             11000
Shakhtar Donetsk       10000
PAOK                   10000
Olympiacos CFP          8000
Dinamo Zagreb           7000
Name: Wage, Length: 650, dtype: int64

In [171]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
pos=players.groupby(['Position'])['Wage'].sum()
five=pos.loc[pos>5000000]
five

Position
CAM     5500000
CB      7476000
CM      6194000
GK      8784000
LB      6096000
LM      5440000
RB      5034000
RM      5098000
ST     11873000
Name: Wage, dtype: int64

In [179]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
age=players.groupby(['Club','Nationality'])['Age'].mean()
rm=age.loc['Real Madrid']
rm

Nationality
Belgium               26.000000
Brazil                28.000000
Costa Rica            31.000000
Croatia               32.000000
Dominican Republic    24.000000
France                25.000000
Germany               28.000000
Spain                 22.454545
Wales                 28.000000
Name: Age, dtype: float64

In [5]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
pos=players.groupby(['Position'])['Value', 'Wage'].mean()
pos

C:\Users\User\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

                 Value           Wage
Position
CAM       2.963199e+06    8688.783570
CB        1.321251e+06    5328.581611
CDM       1.658900e+06    7121.562952
CF        1.848627e+06    4862.745098
CM        1.617465e+06    5805.060918
GK        1.502502e+06    5352.833638
LAM       1.324583e+07   61000.000000
LB        1.429032e+06    6083.832335
LCB       2.636516e+06    9753.056235
LCM       4.318090e+06   13497.854077
LDM       3.369459e+06   10243.243243
LF        2.736250e+07   75125.000000
LM        2.466174e+06    7472.527473
LS        5.848430e+06   15421.487603
LW        3.603099e+06   12169.421488
LWB       1.931333e+06    5783.333333
RAM       8.345000e+06   11800.000000
RB        1.248940e+06    5310.126582
RCB       3.009055e+06   11270.334928
RCM       4.217604e+06   13504.166667
RDM       2.692717e+06   11282.608696
RF        2.636583e+07  119000.000000
RM        2.138734e+06    6655.352480
RS        3.645833e+06   13482.456140
RW        3.495738e+06   13822.784810
RWB       1.555571e+06    6000.000000
ST        2.157252e+06    7852.513228

In [25]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
par=players.groupby(['Club'])['Wage'].agg(['mean', 'median'])
r=par.loc[par['mean']==par['median']]
r.sort_values(['mean'],ascending=False)

                           mean  median
Club
Cruzeiro                13000.0   13000
Göztepe SK               7000.0    7000
Brøndby IF               6000.0    6000
Sunderland               4000.0    4000
CD Feirense              4000.0    4000
1. FC Magdeburg          4000.0    4000
Northampton Town         2500.0    2500
Stade Brestois 29        2000.0    2000
Jeonnam Dragons          2000.0    2000
Pohang Steelers          2000.0    2000
AJ Auxerre               2000.0    2000
Grimsby Town             2000.0    2000
Heracles Almelo          2000.0    2000
Philadelphia Union       2000.0    2000
Kashiwa Reysol           2000.0    2000
CD Tondela               2000.0    2000
Benevento                2000.0    2000
FC Metz                  1500.0    1500
PAOK                     1000.0    1000
Orlando Pirates          1000.0    1000
Panathinaikos FC         1000.0    1000
Patriotas Boyacá FC      1000.0    1000
PFC CSKA Moscow          1000.0    1000
Shakhtar Donetsk         1000.0    1000
SK Slavia Praha          1000.0    1000
Shamrock Rovers          1000.0    1000
Sligo Rovers             1000.0    1000
Sparta Praha             1000.0    1000
Spartak Moscow           1000.0    1000
St. Patrick's Athletic   1000.0    1000
Trelleborgs FF           1000.0    1000
Olympiacos CFP           1000.0    1000
Jaguares de Córdoba      1000.0    1000
Lokomotiv Moscow         1000.0    1000
Dynamo Kyiv              1000.0    1000
Bohemian FC              1000.0    1000
Boyacá Chicó FC          1000.0    1000
Bray Wanderers           1000.0    1000
Cork City                1000.0    1000
Deportivo Pasto          1000.0    1000
Dinamo Zagreb            1000.0    1000
Dundalk                  1000.0    1000
Envigado FC              1000.0    1000
Limerick FC              1000.0    1000
FC Energie Cottbus       1000.0    1000
HJK Helsinki             1000.0    1000
IF Brommapojkarna        1000.0    1000
IK Sirius                1000.0    1000
Itagüí Leones FC         1000.0    1000
AEK Athens               1000.0    1000
Kaizer Chiefs            1000.0    1000
Viktoria Plzeň           1000.0    1000

In [28]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
chelsea=players[players['Club']=='Chelsea']
salary=chelsea.groupby(['Club'])['Wage'].sum()
salary

Club
Chelsea    2035000
Name: Wage, dtype: int64

In [34]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
nat_age=players[(players['Nationality']=='Argentina')&(players['Age']==30)]
max_sal=nat_age.groupby(['Nationality'])['Wage'].min()
max_sal

Nationality
Argentina    1000
Name: Wage, dtype: int64

In [38]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
argbarc=players[(players['Club']=='FC Barcelona')&(players['Nationality']=='Argentina')]
st=argbarc['Strength']
bl=argbarc['Balance']
st, bl

(0    59
 Name: Strength, dtype: int64,
 0    95
 Name: Balance, dtype: int64)

In [69]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
pivot=players.loc[players['Club'].isin(['FC Barcelona','Real Madrid', 'Juventus'])].pivot_table(values=['Wage'],
      index=['Nationality'],
      columns=['Club'],
      aggfunc='mean')
pivot

                             Wage
Club                 FC Barcelona  Juventus    Real Madrid
Nationality
Argentina           565000.000000  205000.0            NaN
Belgium             110000.000000       NaN  240000.000000
Bosnia Herzegovina            NaN  180000.0            NaN
Brazil              232500.000000  167500.0  285000.000000
Chile               205000.000000       NaN            NaN
Costa Rica                    NaN       NaN  195000.000000
Croatia             260000.000000  160000.0  420000.000000
Dominican Republic            NaN       NaN  140000.000000
France              165000.000000  145000.0  153000.000000
Germany             240000.000000  160000.0  355000.000000
Italy                         NaN  115000.0            NaN
Morocco                       NaN  160000.0            NaN
Netherlands         135000.000000       NaN            NaN
Poland                        NaN  125000.0            NaN
Portugal            125000.000000  405000.0            NaN
Spain               101333.333333       NaN  127636.363636
Uruguay             455000.000000       NaN            NaN
Wales                         NaN       NaN  355000.000000

In [50]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
pivot=players.pivot_table(values=['Wage'],
    index=['Position'],
    columns=['Club'],
    aggfunc='max')
pivot

                         Wage                                             \
Club      SSV Jahn Regensburg 1. FC Heidenheim 1846 1. FC Kaiserslautern
Position
CAM                       NaN                5000.0                  NaN
CB                     5000.0                7000.0               1000.0
CDM                    5000.0                   NaN               1000.0
CF                        NaN                   NaN                  NaN
CM                     4000.0                1000.0                  NaN
GK                     5000.0                4000.0               1000.0
LAM                       NaN                   NaN                  NaN
LB                     6000.0                6000.0               2000.0
LCB                       NaN                6000.0               2000.0
LCM                       NaN                   NaN                  NaN
LDM                    6000.0                   NaN                  NaN
LF                        NaN                   NaN                  NaN
LM                     4000.0               14000.0               2000.0
LS                        NaN                   NaN               3000.0
LW                        NaN                   NaN               1000.0
LWB                       NaN                   NaN                  NaN
RAM                    3000.0                   NaN                  NaN
RB                     4000.0                6000.0               2000.0
RCB                    8000.0                3000.0                  NaN
RCM                       NaN                   NaN                  NaN
RDM                    5000.0                   NaN               2000.0
RF                        NaN                   NaN                  NaN
RM                        NaN                3000.0               2000.0
RS                        NaN                   NaN               2000.0
RW                        NaN                   NaN                  NaN
RWB                       NaN                   NaN                  NaN
ST                     3000.0                4000.0               1000.0

                                                                       \
Club     1. FC Köln 1. FC Magdeburg 1. FC Nürnberg 1. FC Union Berlin
Position
CAM             NaN             NaN         4000.0             2000.0
CB           1000.0          7000.0         1000.0            11000.0
CDM         10000.0             NaN         5000.0             5000.0
CF              NaN          4000.0            NaN                NaN
CM           3000.0             NaN         5000.0             9000.0
GK          25000.0          6000.0         8000.0             1000.0
LAM             NaN             NaN            NaN                NaN
LB              NaN          2000.0         3000.0             9000.0
LCB             NaN          5000.0            NaN            20000.0
LCM             NaN          4000.0            NaN                NaN
LDM             NaN             NaN            NaN                NaN
LF              NaN             NaN            NaN                NaN
LM              NaN             NaN            NaN                NaN
LS              NaN          4000.0            NaN                NaN
LW              NaN             NaN            NaN                NaN
LWB         26000.0             NaN            NaN                NaN
RAM             NaN             NaN            NaN                NaN
RB           5000.0             NaN         2000.0            20000.0
RCB             NaN          3000.0            NaN                NaN
RCM             NaN          3000.0            NaN                NaN
RDM             NaN             NaN            NaN                NaN
RF              NaN             NaN            NaN                NaN
RM          18000.0          5000.0        20000.0                NaN
RS              NaN          8000.0            NaN                NaN
RW              NaN          4000.0            NaN                NaN
RWB             NaN             NaN            NaN                NaN
ST              NaN          1000.0        20000.0                NaN

                                                ...                    \
Club     1. FSV Mainz 05 AC Ajaccio AC Horsens  ... Wycombe Wanderers
Position                                        ...
CAM                  NaN     4000.0        NaN  ...               NaN
CB               18000.0     2000.0     4000.0  ...            3000.0
CDM                  NaN        NaN     5000.0  ...               NaN
CF                   NaN        NaN        NaN  ...               NaN
CM                2000.0     3000.0     4000.0  ...            2000.0
GK                2000.0     1000.0     3000.0  ...            2000.0
LAM                  NaN        NaN        NaN  ...               NaN
LB               18000.0     2000.0     4000.0  ...            3000.0
LCB                  NaN     4000.0     2000.0  ...            3000.0
LCM              30000.0        NaN     4000.0  ...            2000.0
LDM                  NaN     4000.0        NaN  ...               NaN
LF                   NaN        NaN        NaN  ...               NaN
LM                   NaN     1000.0     3000.0  ...               NaN
LS                   NaN        NaN     2000.0  ...            2000.0
LW                5000.0        NaN        NaN  ...           10000.0
LWB                  NaN        NaN        NaN  ...               NaN
RAM                  NaN        NaN        NaN  ...               NaN
RB               25000.0     3000.0     2000.0  ...            3000.0
RCB                  NaN     4000.0     2000.0  ...            2000.0
RCM                  NaN        NaN     2000.0  ...            1000.0
RDM                  NaN     3000.0        NaN  ...               NaN
RF                   NaN        NaN        NaN  ...               NaN
RM                   NaN     1000.0     2000.0  ...            2000.0
RS               18000.0        NaN     2000.0  ...            3000.0
RW                   NaN        NaN        NaN  ...            2000.0
RWB                  NaN        NaN        NaN  ...               NaN
ST                3000.0     2000.0     2000.0  ...            1000.0

                                                                          \
Club     Yeni Malatyaspor Yeovil Town Yokohama F. Marinos Zagłębie Lubin
Position
CAM               13000.0         NaN              1000.0            NaN
CB                 4000.0      4000.0              1000.0            NaN
CDM                4000.0         NaN              2000.0         2000.0
CF                    NaN         NaN                 NaN            NaN
CM                 2000.0      2000.0              2000.0         1000.0
GK                 5000.0      1000.0              2000.0         1000.0
LAM                   NaN         NaN                 NaN            NaN
LB                 6000.0      2000.0              2000.0         2000.0
LCB                   NaN      2000.0                 NaN         2000.0
LCM                   NaN      5000.0              3000.0            NaN
LDM                3000.0         NaN                 NaN         1000.0
LF                    NaN         NaN                 NaN            NaN
LM                 5000.0      1000.0              2000.0         2000.0
LS                    NaN      4000.0                 NaN            NaN
LW                    NaN         NaN              2000.0            NaN
LWB                   NaN         NaN                 NaN            NaN
RAM                   NaN         NaN                 NaN            NaN
RB                 5000.0      2000.0              2000.0         2000.0
RCB                   NaN      2000.0                 NaN         4000.0
RCM                   NaN      2000.0              3000.0            NaN
RDM                   NaN         NaN                 NaN         2000.0
RF                    NaN         NaN                 NaN            NaN
RM                 7000.0      2000.0              1000.0         3000.0
RS                    NaN      2000.0                 NaN            NaN
RW                    NaN         NaN              1000.0            NaN
RWB                   NaN         NaN                 NaN            NaN
ST                15000.0      3000.0              2000.0         2000.0

                                                                     \
Club     Zagłębie Sosnowiec Çaykur Rizespor Örebro SK Östersunds FK
Position
CAM                  2000.0         11000.0       NaN        1000.0
CB                   1000.0         11000.0    2000.0        1000.0
CDM                  1000.0         13000.0       NaN           NaN
CF                      NaN             NaN       NaN        3000.0
CM                      NaN             NaN    1000.0        8000.0
GK                   1000.0          3000.0    2000.0        1000.0
LAM                     NaN             NaN       NaN           NaN
LB                   1000.0          7000.0       NaN        2000.0
LCB                  1000.0          4000.0    2000.0        3000.0
LCM                     NaN             NaN    2000.0        5000.0
LDM                  1000.0          3000.0       NaN           NaN
LF                      NaN             NaN       NaN           NaN
LM                   1000.0          2000.0       NaN        1000.0
LS                      NaN             NaN       NaN           NaN
LW                      NaN             NaN    2000.0           NaN
LWB                     NaN             NaN    1000.0           NaN
RAM                     NaN             NaN       NaN           NaN
RB                   1000.0          6000.0       NaN        1000.0
RCB                  1000.0             NaN    2000.0        1000.0
RCM                     NaN             NaN    2000.0           NaN
RDM                  1000.0         10000.0       NaN           NaN
RF                      NaN             NaN       NaN           NaN
RM                   1000.0         12000.0       NaN        2000.0
RS                      NaN             NaN       NaN           NaN
RW                      NaN             NaN    2000.0        1000.0
RWB                     NaN             NaN    1000.0           NaN
ST                   2000.0          2000.0    2000.0        1000.0


Club     Śląsk Wrocław
Position
CAM                NaN
CB              1000.0
CDM             3000.0
CF                 NaN
CM              1000.0
GK              2000.0
LAM                NaN
LB              3000.0
LCB             2000.0
LCM                NaN
LDM             3000.0
LF                 NaN
LM              4000.0
LS              4000.0
LW                 NaN
LWB                NaN
RAM                NaN
RB              2000.0
RCB             4000.0
RCM                NaN
RDM             3000.0
RF                 NaN
RM              3000.0
RS              4000.0
RW                 NaN
RWB                NaN
ST              1000.0

[27 rows x 650 columns]

In [73]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
pivot=players.pivot_table(values=['Name'],
                   index=['Position'],
                   columns=['Club'],
                   aggfunc='count',
                   fill_value=0)
vratary=(pivot.loc['GK']).mean()
vratary

2.5246153846153847

In [2]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
pivot=players.pivot_table(values=['Name'],
                   index=['Position'],
                   columns=['Club'],
                   aggfunc='count',
                   fill_value=0)
clubs=(pivot.loc['CM'].value_counts())
clubs

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: CM, dtype: int64

In [9]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
pivot=players.pivot_table(values='Wage',
                         index=['Nationality'],
                         columns=['Club'],
                         aggfunc='mean')
pivot.loc['Russia','AS Monaco']

61000.0

In [29]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
pivot=players.pivot_table(values=['SprintSpeed'],
                   index=['Club'],
                   columns=['Position'],
                   aggfunc='mean',
                   fill_value=0)
pivot['SprintSpeed'].max().sort_values(ascending=False)

Position
RS     94.0
RM     94.0
LM     94.0
LS     93.0
RB     93.0
LB     93.0
CF     91.0
LW     91.0
ST     91.0
RDM    91.0
RW     91.0
RCM    90.0
CAM    89.0
LF     88.0
RCB    88.0
LCB    88.0
RWB    86.0
RF     86.0
CM     86.0
LWB    86.0
LAM    85.0
LCM    84.0
CDM    83.0
LDM    79.0
RAM    78.0
CB     78.0
GK     62.0
dtype: float64

In [38]:
import pandas as pd
players=pd.read_csv('data_sf.csv')
pivot=players.pivot_table(values=['SprintSpeed'],
                   index=['Position'],
                   columns=['Club'],
                   aggfunc='mean',
                   fill_value=0)
pivot.loc['ST'].sort_values(ascending=False)

             Club
SprintSpeed  Vitória                  91.000000
             Sydney FC                88.000000
             CD Lugo                  87.000000
             Brøndby IF               84.666667
             Leicester City           84.500000
                                        ...
             Málaga CF                 0.000000
             PFC CSKA Moscow           0.000000
             Stade Rennais FC          0.000000
             Standard de Liège         0.000000
             Sporting de Charleroi     0.000000
Name: ST, Length: 650, dtype: float64

In [36]:
import pandas as pd
doc=pd.read_csv('data_sf.csv')
doc[doc.Wage==doc.Wage.max()]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8

In [37]:
import pandas as pd
doc=pd.read_csv('data_sf.csv')
doc[(doc.Composure>doc.Composure.max()*0.9)&(doc.Reactions>doc.Reactions.max()*0.9)].Age.min()

24

In [42]:
import pandas as pd
doc=pd.read_csv('data_sf.csv')
value=doc[doc.Value>doc.Value.mean()]
value.describe(include='object')

                Name Nationality          Club Position
count           1747        1747          1747     1747
unique          1558          98           447       27
top     J. Rodríguez       Spain  FC Barcelona       ST
freq               9         211            17      214

In [52]:
import pandas as pd
doc=pd.read_csv('data_sf.csv')
club=doc.Position.value_counts(normalize=True)
club.loc[club>0.1]

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64

In [64]:
import pandas as pd
doc=pd.read_csv('data_sf.csv')
wage=doc.Wage.value_counts(bins=4)
doc.loc[(doc.Wage>wage.index[3].left)&(doc.Wage<=wage.index[3].right)]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,...,85,85,62,45,38,27,25,31,33,37

In [65]:
import pandas as pd
doc=pd.read_csv('data_sf.csv')
doc[doc.Club=='Manchester United'].Nationality.nunique()

13

In [66]:
import pandas as pd
doc=pd.read_csv('data_sf.csv')
doc[doc.Age>35].Club.value_counts()

Club Atlético Huracán         4
Hokkaido Consadole Sapporo    4
Club Atlético Talleres        3
Nagoya Grampus                3
Hammarby IF                   3
                             ..
AJ Auxerre                    1
Beijing Renhe FC              1
Djurgårdens IF                1
Piast Gliwice                 1
Shimizu S-Pulse               1
Name: Club, Length: 212, dtype: int64

In [78]:
import pandas as pd
doc=pd.read_csv('data_sf.csv')
pos=doc.groupby(['Position'])['Wage'].sum()
pos.loc[pos>5000000]

Position
CAM     5500000
CB      7476000
CM      6194000
GK      8784000
LB      6096000
LM      5440000
RB      5034000
RM      5098000
ST     11873000
Name: Wage, dtype: int64

In [87]:
import pandas as pd
doc=pd.read_csv('data_sf.csv')
pivot=doc.pivot_table(values='Name',
               index='Position',
               columns='Club',
               aggfunc='count',
               fill_value=0)
pivot.loc['GK'].mean()

2.5246153846153847

In [90]:
import pandas as pd
doc=pd.read_csv('data_sf.csv')
pivot=doc.pivot_table(values='Wage',
                     index='Nationality',
                     columns='Club',
                     aggfunc='mean',
                     fill_value=0)
pivot.loc['Russia']['AS Monaco']

61000.0